<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>

    <h1>Flask Project</h1>
    <form action="" method="post">
        <input type="text" name="name" placeholder="Enter name" id="">
        <input type="text" name="age" placeholder="Enter age" id="">
        <input type="submit" value="Submit">
    </form>
     <h2>Users List</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">No users found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>